h1 {
    color: blue;
    background-color: lightgrey;
}
div {
    background-color: azure;
    text-align:center;
}
td:hover{
    background-color: yellow
}

th{
    background-color: lightsalmon;
    border:solid 1px;
    padding: 20px;
    
}

td{
    border-bottom: solid 1px;
    border-right: solid 1px
}
    
